@font-face {
    font-family: 'Fangsong';
    src: url('https://rymingenu-sandbox.wikidot.com/local--files/appendix/Fangsong_GB2312.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
